/* You can add global styles to this file, and also import other style files */
.contenedor-btn {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 20px;
}
